# macOS
.DS_Store

# Linux
*~

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# IDE
.vscode/
.idea/

# Environment files
.env

# Node
node_modules/

# Java
target/
*.class

# Docker
*.tar

# Kubernetes
*.kubeconfig
